body {
  margin: 0;
  padding: 0;
  background-color: #eef2f3;
  font-family: Helvetica;
  align-items: center;
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
  font-size: 45px;
  font-weight: 700;
  color: #299cfb;
  margin: 100px;
  margin-bottom: 50px;
}

.icons {
  display: flex;
  flex-direction: row;
}

.bi-gender-male,
.bi-gender-female {
  font-size: 20px;
  color: blue;
  display: none;
}

.bi-gender-female {
  color: hotpink;
}

.bi-person-bounding-box {
  font-size: 22px;
  color: #299cfb;
  display: block;
}

main {
  display: flex;
  flex-direction: column;
  width: auto;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 15px;
  width: 90%;
  margin-top: 20px;
  padding: 70px;
  height: auto;
  gap: 25px;
  margin-bottom: 50px;
  padding-bottom: 30px;
}

button:hover {
  scale: 0.9;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.inputs div {
  display: flex;
  flex-direction: row;
  gap: 35px;
  justify-content: space-between;
  text-align: start;
  align-items: center;
}

.inputs div h2 {
  font-size: 30px;
  font-weight: 600;
}

.inputs div input {
  height: 30px;
  border: 2px solid #ebebeb;
  border-radius: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  width: 70%;
}

input::placeholder {
  font-size: 15px;
  text-align: start;
  padding: 5px;
  color: darkgray;
  font-weight: 100;
}

.gender {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  gap: 40px;
}

.gender button {
  height: 50px;
  width: 49%;
  border: 0;
  border-radius: 10px;
  background-color: #dceffe;
  color: #000;
  font-size: 20px;
  font-weight: 600;
  transition: 0.3s ease-in-out;
}

button {
  height: 50px;
  width: 100%;
  background-color: #299cfb;
  color: #fff;
  font-size: 23px;
  font-weight: 600;
  border: 0;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
}

.result {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.result h2 {
  margin: 0;
  margin-top: 39px;
}

.result p {
  font-size: 20px;
  font-weight: 600;
}

.bi-arrow-counterclockwise {
  font-size: 25px;
  align-self: end;
}

@media screen and (max-width: 900px) {
  h1 {
    font-size: 60px;
  }

  form {
    width: 90%;
  }

  .inputs div input {
    width: 60%;
  }
}

@media screen and (max-width: 800px) {
  h1 {
    font-size: 50px;
  }

  form {
    width: 95%;
    padding: 30px;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 42px;
    margin-bottom: 15px;
    margin-top: 50px;
  }

  form {
    width: 70%;
  }
}

@media screen and (max-width: 550px) {
  h1 {
    font-size: 38px;
  }
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 33px;
  }
}

@media screen and (max-width: 450px) {
  h1 {
    font-size: 32px;
    margin: 50px 70px 15px;
  }

  form {
    width: 80%;
  }

  .inputs div {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0;
  }

  .inputs div input {
    width: 90%;
  }
}

@media screen and (max-width: 400px) {
  h1 {
    font-size: 28px;
    margin: 50px 70px 15px;
  }

  .inputs {
    gap: 10px;
  }

  .inputs div h2 {
    font-size: 25px;
  }

  .inputs div {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0;
  }

  .inputs div input {
    width: 90%;
  }
}

@media screen and (max-width: 350px) {
  h1 {
    margin: 50px 50px 15px;
    font-size: 26px;
  }

  form {
    width: 70%;
  }

  .inputs div {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0;
  }

  .inputs div input {
    width: 100%;
  }
}

@media screen and (max-width: 300px) {
  h1 {
    margin: 50px 30px 5px;
  }

  .inputs div input {
    width: 100%;
  }

  .gender {
    gap: 10px;
    padding: 0;
  }

  .gender button {
    width: 100%;
    padding: 5px 10px;
  }
}

@media screen and (max-width: 170px) {
main {
  width: 90%;
  align-items: center;
}

  h1 {
    margin: 50px 20px 0;
    font-size: 19px;
  }

  form {
    width: 100%;
    padding: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .gender button {
    font-size: 14px;
  }

  button {
    font-size: 18px;
  }

  .inputs div input {
    width: 90%;
    align-self: center;
  }
}
